extends layout/main.pug

block content
    form(action="", method="POST")
        input(type="text", name="userName", placeholder="User Name", required=true)
        input(type="email", name="email", placeholder="Email", required=true)
        input(type="password", name="password", placeholder="Password", required=true)
        input(type="password", name="password2", placeholder="Verify Password", required=true)
        input(type="submit", value="Join Now")
    button 
        i.fab.fa-github 
        | Continue with Github  
    button 
        i.fab.fa-facebook  
        | Continue with Facebook