extends layout/main.pug
include mixins/videoBlock.pug

block content
    .search__header
        span Results for: #{searchingBy}
    .video-container
        each video in videos
            +videoBlock(video)