extends layout/main.pug

block content
    .profile
        h1 Video Detail
        span Uploder : 
        span Title : 
        span Description : 
        span Views :
        a(href=routes.editVideo) Edit Video